aiohttp
websockets
chardet
datetime
requests
responses
beautifulsoup4
bs4
lxml
pip 
PyNaCl
colorlog
python-binary-memcached
pylibmc
pymongo
dnspython
selenium==4.0.0
webdriver_manager==3.5.1
selenium-stealth
Pillow
webdriver-manager==3.5.1
